<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HORARIOS - Facultad de Ingeniería</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
        .wrapper {
            width: 800px;
        }
        .ui-tooltip {
    		/* tooltip container box */
    		white-space: pre-line;
		}
		.ui-tooltip-content {
    		/* tooltip content */
    		white-space: pre-line;
		}
    </style>
    <script src="js/lib/angular.min.js"></script>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
            $(".ui-tabs").css("background", "rgb(255,241,0)");
            $(".ui-tabs-panel").css("background", "rgb(255,255,255)");
            $(".ui-tabs-nav").css("background", "transparent");
        });
    </script>
    <script>
        $(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
		});
    </script>
</head>

<body>
{% block body %}
<br>
<br>
<table>
	<tr>
		<td><img src="../../../static/logo.png" width="157" height="80"></td>
		<td width="20">&nbsp;</td>
		<td><h1>HORARIO SEMANAL</h1></td>
	</tr>
</table>
<br>
<br>
<br>
<form name="forma" id="forma" action="{{ url_for('pagina_principal')}}" method=post>
	Programa:
	<select name="filtroPrograma">
		{% for i in range(0,datos["programas"]|length) %}
			{% if datos["programaActual"] == datos["programas"][i][0] %}
  				<option value="{{datos["programas"][i][0]}}" selected>{{datos["programas"][i][1]}}</option>
			{% else %}
				<option value="{{datos["programas"][i][0]}}">{{datos["programas"][i][1]}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<input type=submit value='Filtrar Programa'>
	<br>
	<br>
	Semestre:
	<select name="filtroSemestre">
		{% if datos["semestre"] == 0 %}
	  		<option value="0" selected>Todos</option>
		{% else %}
			<option value="0">Todos</option>
		{% endif %}
		{% for i in range(1,11) %}
			{% if datos["semestre"] == i %}
  				<option value="{{i}}" selected>{{i}}</option>
			{% else %}
				<option value="{{i}}">{{i}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<input type=submit value='Filtrar Semestre'>
	<br>
	<br>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-Lunes">Lunes</a></li>
			<li><a href="#tabs-Martes">Martes</a></li>
			<li><a href="#tabs-Miercoles">Miércoles</a></li>
			<li><a href="#tabs-Jueves">Jueves</a></li>
			<li><a href="#tabs-Viernes">Viernes</a></li>
			<li><a href="#tabs-Sabado">Sábado</a></li>
			<li><a href="#tabs-Domingo">Domingo</a></li>
		</ul>
		{% for dia in ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"] %}
		<div id="tabs-{{dia}}">
			<table name="tabla{{dia}}" id="tabla{{dia}}" border="1">
				{% for i in range(7,21) %}
				<tr>
					<th>{{i}}:00</th>
					{% for clase in datos[dia] %}
					{% if clase["horaInicio"] == i+0.0 %}
					<td rowspan="{{clase['span']}}" bgcolor="#00467c">
						<a href="#" style="color:white" data-toggle="tooltip" title="{{clase['nombre']}} &#013; Grupo: {{clase['grupo']}} &#013; Profesor: {{clase['profesor']}}">{{clase['codigo']}}</a>
					</td>
					{% endif %}
					{% endfor %}
				</tr>
				<tr>
					<th>{{i}}:30</th>
					{% for clase in datos[dia] %}
					{% if clase["horaInicio"] == i+0.5 %}
					<td rowspan="{{clase['span']}}" bgcolor="#00467c">
						<a href="#" style="color:white" data-toggle="tooltip" title="{{clase['nombre']}} &#013; Grupo: {{clase['grupo']}} &#013; Profesor: {{clase['profesor']}}">{{clase['codigo']}}</a>
					</td>
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endfor %}
	</div>
</form>
{% endblock %}
</body>
</html>